<launch>
  <arg name="camera"            default="camera"/>
  <arg name="tf_prefix"           default="$(arg camera)"/>
  <arg name="rosbag_filename"   default=""/>
  
  <arg name="depth_width"         default="640"/>
  <arg name="depth_height"        default="480"/>
  <arg name="enable_depth"        default="true"/>
  <arg name="depth_fps"           default="0"/>
  <arg name="enable_pointcloud"   default="false"/>
  <arg name="enable_sync"         default="false"/>

  <group ns="$(arg camera)">
    <include file="$(find pointcloud_camera)/launch/includes/nodelet.launch.xml">
      <arg name="tf_prefix"                value="$(arg tf_prefix)"/>
      <arg name="rosbag_filename"           value="$(arg rosbag_filename)"/>

      <arg name="enable_pointcloud"        value="$(arg enable_pointcloud)"/>
      <arg name="enable_sync"              value="$(arg enable_sync)"/>
      
      <arg name="depth_width"              value="$(arg depth_width)"/>
      <arg name="depth_height"             value="$(arg depth_height)"/>
      <arg name="enable_depth"             value="$(arg enable_depth)"/>
      <arg name="depth_fps"                value="$(arg depth_fps)"/>
      
    </include>
  </group>
</launch>
